/* Base Application Styles */
body {
  color: #fff;
  background: #222;
}

.main{
  padding: 10em;
  margin: 0;
  height: 100%;
}

.sign{
  padding: 2em 10em;
}

.comment-enter{
  opacity: 0.01;
}

.comment-enter.comment-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.comment-leave {
  opacity: 1;
}

.comment-leave.comment-leave-active{
  opacity: 0.01;
  transition: opacity 500ms ease-in;
}
